body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: navy; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chart-container {
    text-align: center;
    /* color: white; */
}

.bar:hover {
    fill: white;
}

#tooltip-bg {
    fill: blue;
}

#tooltip {
    color: red;
}